@model CustomErrorPages.ViewModels.Errors.Error404ViewModel

<h3>Sorry, the page you were looking for could not be found.</h3>
<p>Go back to the <a href="@Url.Action("Index", "TimeSheet")">Home page</a></p>
