@using TimeSheet.Shared.Models.Interfaces

@model TimeSheet.PL.WebApplication.ViewModels.Clients.AccordionItemsPartialViewModel
@if (Model.Clients.Count() > 0)
{
    <div class="accordion-wrap clients">
        @foreach (IClient client in Model.Clients)
        {
            bool isClientValid = client.Id != Model.InvalidClientId;
            string style = !isClientValid ? "overflow: hidden; display: block;" : null;

            <div class="item">
                <div class="heading">
                    <span>@client.Name</span>
                    <i>+</i>
                </div>
                <div style="@style" class="details">
                    @if (isClientValid)
                    {
                        @Html.Action("ShowClientForms", "Clients", new { id = client.Id })
                    }
                    else
                    {
                        @Html.Partial("ClientFormPartial", Model.ClientFormPartialViewModel)
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <h1>There are no available clients</h1>
}