@model TimeSheet.PL.WebApplication.ViewModels.Clients.FilterLettersPartialViewModel
<div class="alpha">
    <ul>
        @for (char letter = 'A'; letter <= 'Z'; letter++)
            {
                string isLetterDisabled = Model.GetClientsInitialLetters().Contains(letter.ToString().ToUpper()) ? null : "disabled";
                string isLetterActive = Model.CurrentLetter == letter ? "active" : null;
            <li class="@isLetterDisabled @isLetterActive">
                @if (isLetterDisabled == null)
                {
                    if (isLetterActive != null)
                    {
                        @Html.ActionLink(letter.ToString(), "Index", "Clients")

                    }
                    else
                    {
                        @Html.ActionLink(letter.ToString(), "FilterByLetter", "Clients", new { letter }, null)

                    }
                }
                else
                {
                    <a href="javascript:;">@letter</a>
                }
            </li>
        }
    </ul>
</div>