@model TimeSheet.PL.WebApplication.ViewModels.Clients.PaginationPartialViewModel
<div class="pagination">
    <ul>
        @if (Model.CurrentPage != 1)
        {
            <li>
                @Html.ActionLink("Previous", "LoadNextClients", new { page = Model.CurrentPage - 1 }, null)
            </li>
        }
        @for (int currentPage = 1; currentPage <= Model.PageCount; ++currentPage)
        {
            <li>
                @if (Model.CurrentPage == currentPage)
                {
                    <a class="disabled" href="javascript:;">@currentPage</a>
                }
                else
                {
                    @Html.ActionLink(currentPage.ToString(), "LoadNextClients", new { page = currentPage }, null)
                }
            </li>
        }

        @if (Model.CurrentPage != Model.PageCount)
        {
            <li class="last">
                @Html.ActionLink("Next", "LoadNextClients", new { page = Model.CurrentPage + 1 }, null)
            </li>

        }
    </ul>
</div>
