
<div class="search-page">
    @using (Html.BeginForm("FilterByName", "Clients", FormMethod.Get))
    {
        @Html.TextBox("searchText", null, new { @class = "in-search", @type = "search" })
    }
</div>
