<body>

    <section class="content">
        <h2><i class="ico timesheet"></i>TimeSheet</h2>
        @Html.Partial("MonthsHeaderPartial")
        @Html.Partial("MonthsTablePartial")
        @Html.Partial("TotalHoursPartial")
    </section>
    <!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
</body>
</html>
