<div class="grey-box-wrap reports">
    <ul class="form">
        <li>
            <label>Team member:</label>
            <select>
                <option>All</option>
            </select>
        </li>
        <li>
            <label>Category:</label>
            <select>
                <option>All</option>
            </select>
        </li>
    </ul>
    <ul class="form">
        <li>
            <label>Client:</label>
            <select>
                <option>All</option>
            </select>
        </li>
        <li>
            <label>Start date:</label>
            <input type="text" class="in-text datepicker" />
        </li>
    </ul>
    <ul class="form last">
        <li>
            <label>Project:</label>
            <select>
                <option>All</option>
            </select>
        </li>
        <li>
            <label>End date:</label>
            <input type="text" class="in-text datepicker" />
        </li>
        <li>
            <a href="javascript:;" class="btn orange right">Reset</a>
            <a href="javascript:;" class="btn green right">Search</a>
        </li>
    </ul>
</div>
