<table class="default-table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Team member
        </th>
        <th>
            Projects
        </th>
        <th>Categories</th>
        <th>Description</th>
        <th class="small">Time</th>
    </tr>
    <tr>
        <td>
            2013-02-13
        </td>
        <td>
            Slađana Miljanovic
        </td>
        <td>
            Seachange - Nitro
        </td>
        <td>
            Front-End Development
        </td>
        <td>
            Lorem ipsum dolor sit amet
        </td>
        <td class="small">
            7.5
        </td>
    </tr>
    <tr>
        <td>
            2013-02-13
        </td>
        <td>
            Sladjana Miljanovic
        </td>
        <td>
            Seachange - Nitro
        </td>
        <td>
            Front-End Development
        </td>
        <td>
            Lorem ipsum dolor sit amet
        </td>
        <td class="small">
            7.5
        </td>
    </tr>
    <tr>
        <td>
            2013-02-13
        </td>
        <td>
            Sladjana Miljanovic
        </td>
        <td>
            Seachange - Nitro
        </td>
        <td>
            Front-End Development
        </td>
        <td>
            Lorem ipsum dolor sit amet
        </td>
        <td class="small">
            7.5
        </td>
    </tr>
</table>
