
<section class="content">
    <h2><i class="ico timesheet"></i>TimeSheet</h2>
    @Html.Partial("HeaderBoxPartial")
    @Html.Partial("DaysTablePartial")
    @Html.Partial("FooterBoxPartial")
</section>
