<div class="top">
    <a href="javascript:;" class="prev"><i class="zmdi zmdi-chevron-left"></i>previous week</a>
    <span class="center">February 04 - February 10, 2013 (week 6)</span>
    <a href="javascript:;" class="next">next week<i class="zmdi zmdi-chevron-right"></i></a>
</div>
